h3 {
  font-size: 30px !important;
  width: 500px;
  height: 70px;

  background-color: rgb(158, 7, 163);
  color: white;
}

.btn-success:hover {
  background-color: red;
}

canvas {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-color: black;
}

@keyframes example {
  from {
    box-shadow: 8px 8px 38px purple;
  }
  to {
    box-shadow: 1px 1px 38px black;
  }
}
